* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: orange;
  margin: 10px;
}

button {
  background-color: orange;
  color: black;
  padding: 10px;
  margin: 10px;
}

p {
  color: orange;
  background-color: black;
  margin: 10px;
  width: 30%;
}
